html, body {
  padding: 0;
  background-color: grey;
  display: grid;
  place-content: center;
  position: relative;
 
  &::after {
    content: " ";
    background-color: darkblue;
    width: 90%;
    height: 100%;
    position: absolute;
    
  }
}